.admin{
  height: 100vh;
  width: 100vw;
  .header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 ;
    background-color:pink;
  }
  .content{
    margin: 24px 16px;
    // background-color: #fff;
    // background-color: rgb(150, 83, 106);
    border: 1px solid red;
    padding: 10px;
    position: relative;
  }
  .content th:hover{
    background-color:#fff;
  }
  .trigger{
    margin-top: 30px;
    margin-left: 25px;
    
  }
  .footer{
    border: 1px solid red;
  }
}